@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:focus {
    @apply outline-none ring;
  }

  button:focus {
    @apply outline-none ring;
  }

  thead {
    @apply sticky top-0 z-10 vio-bg-darken;
  }

  tbody {
    @apply divide-y vio-divide-darken;
  }
}

@layer utilities {
  .vio-bg-darken {
    @apply bg-background-brighten dark:bg-background-darken
  }

  .vio-border-darken {
    @apply border-background-brighten dark:border-background-darken
  }

  .vio-line-clamp-2 {
    @apply max-w-full text-ellipsis break-words line-clamp-2;
  }

  .vio-prose {
    @apply m-auto prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl; /* 2xl:prose-2xl */
  }

  .vio-prose-fullwidth {
    @apply vio-prose max-w-full sm:max-w-full md:max-w-full xl:max-w-full 2xl:max-w-full;
  }

  .vio-prose-scheme {
    @apply vio-prose dark:prose-invert;
  }

  .vio-divide-darken {
    @apply divide-background-brighten dark:divide-background-darken
  }
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.1s; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.ProseMirror { /* stylelint-disable-line selector-class-pattern */
  @apply vio-prose;

  max-width: 100%;
  margin: 0;
}

.ProseMirror > p:first-child { /* stylelint-disable-line selector-class-pattern */
  margin-top: 0;
}

.ProseMirror > p:last-child { /* stylelint-disable-line selector-class-pattern */
  margin-bottom: 0;
}
