# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node
# UNUSED PROPERTIES REMOVED!

# Dependency directories
nuxt/node_modules/

# Nuxt.js build / generate output
nuxt/.nuxt
nuxt/.output

# End of https://www.toptal.com/developers/gitignore/api/node

# Git
nuxt/**/!.gitkeep

# Environment variables
**/.env

# ESLint
.eslintcache

# Cypress
nuxt/cypress/results
nuxt/cypress/reports
nuxt/cypress/screenshots
nuxt/cypress/snapshots/actual
nuxt/cypress/snapshots/diff
nuxt/cypress/snapshots/result
nuxt/cypress/videos
