/* stylelint-disable at-rule-no-deprecated */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable import-notation */
/* stylelint-disable plugin/no-unsupported-browser-features */

@import 'tailwindcss';
@import './forms.css';

@plugin "@tailwindcss/forms" {
  strategy: 'base';
}

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-shake: shake 0.6s ease-in-out 0s 1 normal forwards running;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }

    15% {
      transform: translateX(0.375rem);
    }

    30% {
      transform: translateX(-0.375rem);
    }

    45% {
      transform: translateX(0.375rem);
    }

    60% {
      transform: translateX(-0.375rem);
    }

    75% {
      transform: translateX(0.375rem);
    }

    90% {
      transform: translateX(-0.375rem);
    }
  }

  --default-font-family: var(--font-raleway);
  --font-raleway:
    'Raleway Variable', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-background-bright: var(
    --color-white
  ); /* TODO: replace with new design variables */

  --color-background-brighten: var(
    --color-zinc-200
  ); /* TODO: replace with new design variables */

  --color-background-dark: var(
    --color-zinc-800
  ); /* TODO: replace with new design variables */

  --color-background-darken: var(
    --color-zinc-700
  ); /* TODO: replace with new design variables */

  --color-link-bright: var(
    --color-blue-400
  ); /* TODO: replace with new design variables */

  --color-link-dark: var(
    --color-blue-600
  ); /* TODO: replace with new design variables */

  --color-text-bright: var(
    --color-zinc-50
  ); /* TODO: replace with new design variables */

  --color-text-dark: var(
    --color-zinc-900
  ); /* TODO: replace with new design variables */

  --text-3xl--line-height: calc(2.5 / 1.875);
  --text-4xl--line-height: calc(3 / 2.25);
  --text-5xl--line-height: calc(4 / 3);
  --text-6xl--line-height: calc(4.75 / 3.75);
  --text-7xl--line-height: calc(4.75 / 4);
  --text-8xl--line-height: calc(7.5 / 6);
  --text-9xl--line-height: calc(10 / 8);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    /* figma */
    --accent-line: #dcf9ea;
    --accent-strong: #36db83;
    --accent-strong-hover: #2bb86d;
    --accent-weak: #dcf9ea;
    --accent-weak-hover: #c0e6d2;
    --critic-string: #e00000;
    --faint-line: #f2f2f2;
    --faint-weak: #f2f2f2;
    --semantic-accent-accent-icon: #12683a;
    --semantic-base-background: #fff;
    --semantic-base-input-field-fill: #fff;
    --semantic-base-light-text-on-dark: #fafafc;
    --semantic-base-line: #f2f2f2;
    --semantic-base-primary-button-text: #191911;
    --semantic-base-surface-1: #fafafc;
    --semantic-base-text-primary: #191911;
    --semantic-base-text-secondary: #868679;
    --semantic-base-text-tertiary: #505047;
    --semantic-critic-strong: #e00000;
    --semantic-critic-strong-hover: #8c1818;
    --surface: #fafafc;
    --warning-strong: #f9ae25;
    --warning-text: #9c5407;
    --warning-weak: #fdebd8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;

    /* figma */
    --faint-line: #2d2d2c;
    --faint-weak: #2d2d2c;
    --semantic-accent-accent-icon: #0a841e;
    --semantic-base-background: #191911;
    --semantic-base-line: #3e3e38;
    --semantic-base-input-field-fill: #505047;
    --semantic-base-surface-1: #3e3e38;
    --semantic-base-text-primary: #e4e4eb;
    --surface: #3e3e38;
  }

  ::placeholder {
    @apply italic;
  }

  :disabled {
    /* cursor-not-allowed */
    @apply pointer-events-none opacity-75;
  }

  a,
  button {
    @apply focus:ring-3 focus:ring-blue-500/50 focus:outline-none;
  }

  a[target='_blank']:not([is-external-icon-disabled])::after {
    /* inline-table centers the element vertically in the tiptap text area, instead of inline-block */
    @apply ml-[0.3125rem] inline-table h-3 w-3 bg-current;

    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhcnJvdy11cC1yaWdodC1mcm9tLXNxdWFyZSIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWFycm93LXVwLXJpZ2h0LWZyb20tc3F1YXJlIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTM4NCAzMjBjLTE3LjY3IDAtMzIgMTQuMzMtMzIgMzJ2OTZINjRWMTYwaDk2YzE3LjY3IDAgMzItMTQuMzIgMzItMzJzLTE0LjMzLTMyLTMyLTMyTDY0IDk2Yy0zNS4zNSAwLTY0IDI4LjY1LTY0IDY0VjQ0OGMwIDM1LjM0IDI4LjY1IDY0IDY0IDY0aDI4OGMzNS4zNSAwIDY0LTI4LjY2IDY0LTY0di05NkM0MTYgMzM0LjMgNDAxLjcgMzIwIDM4NCAzMjB6TTUwMi42IDkuMzY3QzQ5Ni44IDMuNTc4IDQ4OC44IDAgNDgwIDBoLTE2MGMtMTcuNjcgMC0zMS4xIDE0LjMyLTMxLjEgMzEuMWMwIDE3LjY3IDE0LjMyIDMxLjEgMzEuOTkgMzEuMWg4Mi43NUwxNzguNyAyOTAuN2MtMTIuNSAxMi41LTEyLjUgMzIuNzYgMCA0NS4yNkMxOTEuMiAzNDguNSAyMTEuNSAzNDguNSAyMjQgMzM2bDIyNC0yMjYuOFYxOTJjMCAxNy42NyAxNC4zMyAzMS4xIDMxLjEgMzEuMVM1MTIgMjA5LjcgNTEyIDE5MlYzMS4xQzUxMiAyMy4xNiA1MDguNCAxNS4xNiA1MDIuNiA5LjM2N3oiPjwvcGF0aD48L3N2Zz4K')
      no-repeat 50% 50%;
    mask-size: cover;
  }

  address {
    @apply m-4;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    @apply heading my-4 text-4xl;
  }

  h2 {
    @apply heading text-3xl;
  }

  h3 {
    @apply heading text-2xl;
  }

  h4 {
    @apply heading text-xl;
  }

  image::before {
    @apply flex h-full items-center justify-center;
  }

  table {
    @apply w-full;
  }

  td {
    @apply px-4 py-6 whitespace-nowrap;
  }

  th {
    @apply px-3 py-6 text-left text-xs font-medium tracking-wider uppercase;
  }
}

@layer components {
  .form-input {
    appearance: none;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
    border-radius: 0.25rem;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    color: rgb(24 24 27 / var(--tw-text-opacity, 1));
    line-height: 1.25;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .form-input:focus {
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .form-input::placeholder {
    opacity: 0.5;
  }

  .form-input-error .form-input {
    border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
  }

  .form-input-success .form-input {
    border-color: rgb(22 163 74 / var(--tw-border-opacity, 1));
  }

  .form-input-warning .form-input {
    border-color: rgb(202 138 4 / var(--tw-border-opacity, 1));
  }

  .form-textarea::placeholder {
    opacity: 0.5;
  }
}

@utility disabled {
  /* cursor-not-allowed */
  @apply pointer-events-none opacity-75;
}

@utility heading {
  @apply max-w-full overflow-hidden font-bold text-ellipsis;
}

@utility truncate-overflow {
  @apply overflow-hidden text-ellipsis;
}

@utility under-construction {
  background: repeating-linear-gradient(
    -45deg,
    #fb0,
    #fb0 10px,
    #0000 10px,
    #0000 30px
  );
}

@utility vio-line-clamp-2 {
  @apply max-w-full overflow-hidden text-ellipsis;

  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.dark {
  @apply scheme-dark;
}

.prose {
  :where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply leading-10;
  }

  :where(h4):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply text-sm;
  }

  @media (width >= 40rem) {
    :where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-12;
    }

    :where(h4):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply text-lg;
    }
  }

  @media (width >= 48rem) {
    :where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-16;
    }

    :where(h4):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply text-xl;
    }
  }

  @media (width >= 64rem) {
    :where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-18;
    }

    :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-12;
    }

    :where(h4):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply text-2xl;
    }
  }

  @media (width >= 80rem) {
    :where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-22;
    }

    :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-16;
    }

    :where(h3):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply leading-12;
    }

    :where(h4):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
      @apply text-3xl;
    }
  }
}

.layout-enter-active,
.layout-leave-active {
  @apply transition-opacity duration-100;
}

.layout-enter,
.layout-leave-active {
  @apply opacity-0;
}

/* stylelint-disable selector-class-pattern */
.ProseMirror {
  @apply prose dark:prose-invert prose-sm sm:prose-base lg:prose-lg xl:prose-xl m-auto;
  @apply m-0 max-w-full;
}

.ProseMirror > p:first-child {
  @apply mt-0;
}

.ProseMirror > p:last-child {
  @apply mb-0;
}
/* stylelint-enable selector-class-pattern */
