node_modules
*.log
.nuxt
nuxt.d.ts
.output
.env

# Git
**/!.gitkeep

# Environment variables
**/.env

# ESLint
.eslintcache

# Cypress
test/cypress/results
test/cypress/reports
test/cypress/screenshots
test/cypress/snapshots/actual
test/cypress/snapshots/diff
test/cypress/snapshots/result
test/cypress/videos
