{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-recommended-vue"
  ],
  "plugins": ["stylelint-no-unsupported-browser-features"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "apply",
          "layer",
          "responsive",
          "screen",
          "tailwind",
          "variants"
        ]
      }
    ],
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "plugin/no-unsupported-browser-features": [true, { "severity": "warning" }]
  }
}
